---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R674064550","date":"2026-06-16","discount":"0.0","commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #13 - 9261","taxCode":"TaxCode - 296834","itemCode":"SKU-13","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10014"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"2-LI","description":"Product
        #14 - 5475","taxCode":"TaxCode - 296834","itemCode":"SKU-14","quantity":1,"amount":10.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10014"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":5.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1600
        Pennsylvania Ave NW","line2":null,"city":"Washington","region":"AL","country":"US","postalCode":"20500"},"shipTo":{"line1":"A
        Different Road","line2":"Northwest","city":"Herndon","region":"AL","country":"US","postalCode":"10014"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"DEFAULT","customerUsageType":null,"exemptionNo":null,"referenceCode":"R674064550","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Client:
      - solidus_avatax_certified;4.0.0;RubySdk;26.5.0;MacBookAir
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzNDU6MTIzNDU=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 137e2dc8-6703-47e3-9d41-9c5c7db470ed
      X-Avalara-Uid:
      - 137e2dc8-6703-47e3-9d41-9c5c7db470ed
    body:
      encoding: UTF-8
      string: '{"error": {"code": "AuthenticationException","message": "Authentication
        failed.","details": [{"code": "AuthenticationException","message": "Authentication
        failed.","description": "Missing authentication or unable to authenticate
        the user or the account.","faultCode": "Client","helpLink": "http://developer.avalara.com/avatax/errors/AuthenticationException"}]}}'
  recorded_at: Tue, 16 Jun 2026 19:52:04 GMT
recorded_with: VCR 6.4.0
